body
{
    background-color: rgb(104, 110, 125);
}

form
{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-content: center;
    background-color: rgb(6, 36, 55);
    padding:1rem;
    font-size: 1.5rem;
    height:5rem;

}

#dropdown
{
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: lightgray;
}

#seconddropdown
{
    border-radius: 1rem;
    font-size: 1.5rem;
    background-color: lightgray;
}

form button{
    margin-left:15rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    padding:0.5rem;
    box-shadow: 1px 1px 1px 2px rgb(205, 211, 205);
}

form button:hover{
    background-color: blue;
    color: white;
    transition: all 0.2s;
    box-shadow: 0px 0px;
}

form input
{
    width:15rem;
}

#outercontainer
{
    display: flex;
    /* justify-content: space-evenly; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    height:auto;
    width:95%;
    overflow: hidden;
}

#seconddropdown
{
    width:15rem;
}